/Debug/
.cproject
.project
.settings/org.eclipse.cdt.managedbuilder.core.prefs
.settings/language.settings.xml
graph_redux.exe
main.exe
reducao_grafo_ismael.exe
gmon.out
cmake-buid*
CMakeLists.txt
.idea/
main
tutorial*
cmake-build-debug/

cmake-build-debug_2/
